* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("./images/cemetery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
}

#cursor 
{
    z-index: 3;
    position: absolute;
}

#rip1{
    position: relative;
    top: 200px;
    left: 150px;
}
#rip2{
    position: relative;
    top: 250px;
    left: 200px;
}
#rip3{
    position: relative;
    top: 200px;
    left: 250px;
}
#rip4{
    position: relative;
    top: 250px;
    left: 300px;
}

#layout 
{
    mix-blend-mode: multiply;
    min-height: auto;
    min-width: 100%;

    width: 100%;
    height: auto;

    
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
}

.light {   
    background-color:  #f8c377;
    height: 200px;
    width:200px;
    border-radius: 50%;
}

.flash {
  font-size: 2rem;
  margin-bottom:20px;
}

.rip
{
    mix-blend-mode: multiply;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px rgb(62, 233, 68));
    cursor: none;
}